.savedContainer{
    display: flex;
    
}

.savedMeme{
    height: 400px;
    width: 400px;
    background-color: brown;
}
.savedMemeControls{
    margin-top: 100px;
    margin-left: 15px;
}
.deleteBtn{
    border-radius: 8px;
    margin-top: 60px;
    
}
.saveBtn{
    border-radius: 8px;
}
.editInput{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 20px;
    background-color:lightblue;
}
.previewImage{
    height: 300px;
    width: 300px;
}