body {
    background-color: #70706e;
}
h1 {
    background-color: #D3E3FC;
    box-shadow: 10px 10px 5px black;
    color: #8FC1E3;
    text-shadow: -1px 0 #31708E, 0 1px #31708E, 1px 0 #31708E, 0 -1px #31708E;
}
h2 {
    margin: 0px
}
#main{
    width: 500px;
    margin: auto;
    align-items: center;
    text-align: center;
}
.memePrevBox {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 500px;

    background-color: #8E8D8A
}
#changeMemeBtn {
    margin: 20px 0px;
}

input {
    margin: 10px 5px;
    background-color: #d3e3fc;
}
.inputs{
    margin: auto;
}
#upTextPrev, .upTextSaved {
    position: relative;
    top: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 300px;
    overflow-wrap: break-word;
}
#lowTextPrev, .lowTextSaved {
    position: relative;
    bottom: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 300px;
    overflow-wrap: break-word;

}
.previewImage, .savedMemeImage{
    width: 300px;
}
.savedContainer{
    display: flex;
    
}
.savedMeme {
    border: 1px solid #EAE7DC;
    padding-bottom: 15px;
}
.savedMemeList{
    width: 500px;
    background-color: #8E8D8A;
}
.savedMemeControls{
    margin-top: 100px;
    margin-left: 15px;
}
.deleteBtn, .saveBtn, .editBtn, #changeMemeBtn, #saveMemeBtn {
    border-radius: 8px;    
}

.saveBtn {
    margin-bottom: 20px
}

img {
    border: 1px solid black
}
